@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&display=swap');

body{
    display: block;
    font-family: 'Cinzel', serif;
    margin: 0px;

  }
textarea{
    border-block-color: black;
    height: 10rem;
    width: 35%;
    border-width: 2px;
    background-color:lightgray;

    margin: auto;
    
    
}
#output{
    
    border: 1px solid black;
    height : 10rem;
    width : 35%;
    border-width:2px;
    background-color: yellow;

}

#primary_btn{
    padding: 0.2rem 1rem;

